


    <ul class="navbar-nav my-2 my-lg-0">

        @if (Request.IsAuthenticated)
        {

            <li class="nav-item active">
                <a class="nav-link" href="/Account">@User.Identity.Name</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Account/Logout">Çıkış Yap</a>
            </li>

        }
        else
        {

            <li class="nav-item active">
                <a class="nav-link" href="/Account/Login">Login <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Account/Register">Register</a>
            </li>
        }

    </ul>