@using ECommerce.Models;
@model  IEnumerable<ProductModel>


    <div class="w-75">
        <div class="row">
            <div class="card-deck">

                @foreach (var item in Model)
                {

                    <div class="col-md-4">
                        <div class="card">
                            <img src="~/Upload/@item.Image" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">@item.Name</h5>
                                <p class="card-text">@item.Description.</p>
                                <p class="card-text"><small class="text-muted">Fiyat: <b><i class="fa fa-try" aria-hidden="true"></i> @item.Price</b></small></p>

                                <a href="/Home/Details/@item.Id" class="btn btn-default btn-sm">

                                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                    Ürün Detayı
                                </a>
                            </div>
                        </div>
                    </div>


                }
            </div>
        </div>
    </div>
       


