@model  ECommerce.Models.Shipping

@{
    ViewBag.Title = "Completed";
}

    <div class="conteiner">
        <div class="row">
            <div class="col-md-12">

                <div class="alert alert-success">Merhaba <strong>@Model.UserName</strong> siparişiniz tarafımıza iletildi!</div>
                <h4>Satın aldığınız ürünler en kısa sürede tarafınıza ulaşacaktır.</h4>
            </div>
        </div>
    </div>

