@using ECommerce.Models;
@model  IEnumerable<ProductModel>
    @{
        ViewBag.Title = "Contact";
    }


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <div class="conteiner pb-5">
        <div class="row">
            <div class="col-md-3">
            
               @Html.Action("GetCategories","Home")

            </div>

            <div class="col-md-9">
                @if (Model.Count()==0)
                {
                <div class="alert alert-warning" role="alert">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                    <strong>Bu kategoride bir ürün bulunamadı..</strong>
                </div>
                }
                else
                {
            <div class="alert alert-success" role="alert">
                <i class="fa fa-check" aria-hidden="true"></i>
                <strong>@Model.Count() adet</strong> ürün bulundu..
            </div>
                }

                @Html.Partial("_ProductList", Model)
            </div>
        </div>
    </div>




